/*Main Settings*/
*{ 
    box-sizing: border-box;
}
.main_wrapper{ 
    margin: 0 auto;
    max-width: 480px;
    min-height: 7000px;
    background: #fff;
    position: relative;
    box-shadow: 0 0 15px  #222;
}
body{ 
    font-family: sans-serif;
    line-height: 22px;
    background: #EFEFEF;
}
#particles-js{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}
h3,h5{
    margin-bottom:20px;
    font-size:20px;
}
/*Header*/
.offer_section{ 
    width: 100%;
}
.main_title{ 
    text-align: center;
    background: #54b9ff;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
} 
.subtitle{ 
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px 10px;
    text-align: center;
    background-color:#EFEFEF ;
} 
img{ 
    max-width: 100%;
    height: auto;
}
.info_block{ 
    width: 100%;
}
.wrap_discount{ 
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.discount{ 
    width: 112px;
    height: 112px;
    background: center no-repeat;
    background-image: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    position: absolute;
    background-image: url(../images/discount_line.png);
}
.discount b{ 
    position: absolute;
    margin-top: 35px;
    margin-left:26px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
} 
/*Price block*/
.price_block{ 
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#yellow_line{
    position: absolute;
    width: 100%;
    background-color: #f5ca16;
    height: 30px;
}
.old, .new{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 185px;
    padding: 6px;
    height: 100%;
    color: white;
    transform: skewX(25deg);
}
.text, .value{
    transform: skewX(-25deg);
}
.old{ 
    background-color:#222222;
}
.new{ 
    background-color:#54B9FF;
}
.old .text, .old .value{ 
    text-decoration: line-through;
} 
.value{ 
    font-weight: 700;
    font-size: 22px;
}
/*Benefits*/
.benefits_block{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 100%;
}
.benefit_item{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 33%;
    text-align: center;
    height: 180px;
}
.benefit_item img{ 
    height: auto;
    width: auto;
    margin-bottom: 5px;
}
#AirPods_case{
    padding:30px 100px;
    background-color: black;
}

/*TIMER*/
.countdown{
    border-top: 1px dashed rgba(0,0,0, 0.3);
    border-bottom: 1px dashed rgba(0,0,0,0.3);
    background:#f4f4f4;
    margin: 0 0 35px;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
}
.days, .hours, .minutes, .seconds, .days2, .hours2, .minutes2, .seconds2{
    background-color: #54B9FF;
    color: #fff;
    border-radius: 5px;
    font-size: 26px;
    padding: 8px;
}
.timer{
    display: flex;
    justify-content: space-around;
}
.time-section{ 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color:black;
    margin-left: 15px;
}
.units{
    font-weight: bold;
}
.button{ 
    display: block;
    margin: 20px auto 10px;
    max-width: 350px;
    padding: 0 30px;
    height: 80px;
    border: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background:#54b9ff;
    box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    -moz-box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    animation-name:button_animation;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate, reverse, normal;
}
@keyframes button_animation{
    from {
    box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    -webkit-box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    -moz-box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    box-shadow: 0 0 0 10px rgba(84,185,255,0.3);
    }
    to{
    box-shadow: 0 0 10px 20px rgba(84,185,255,0.3);
    -webkit-box-shadow: 0 0px 10px 20px rgba(84,185,255,0.3);
    -moz-box-shadow: 0 0 10px 20px rgba(84,185,255,0.3);
    transition: ease 0.5s; 
    }
}
.products_count{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 25px;
    font-size: 16px;
    text-align: center;
}
.products_count b{ 
    margin: 0 4px;
    padding: 3px 6px;
    border-radius: 5px;
    background:#f5ca16;
    font-size: 18px;
    color:#222;
    font-weight: 700;
}
/*Description section*/
.description_section{ 
    width: 100%;
    padding: 20px 30px;
}
.description_section h2{
    text-align: left;
}
.description_title{
    margin: 0 0 30px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}
.description_title span{ 
    color:#54b9ff;
}
.description_title::after{
    display: block;
    content: '';
    margin: 15px 0 0;
    width: 62px;
    height: 5px;
    background: url(../images/blue_lines.png) center no-repeat;
}
.description_section b { 
    font-weight: 700;
}
.description_section p { 
    padding: 20px 0 ;
}
/*SET Section*/
.set_section{
    width: 100%;
    padding: 20px 30px;
}
.set_section img{
    margin: 30px 0;
}
.set_title{
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}
.set_title::after{
    display: block;
    content: '';
    margin: 15px 0 0;
    width: 62px;
    height: 5px;
    background: url(../images/blue_lines.png) center no-repeat;
}
.set_title span{
    color:#54b9ff;
}
.earpod li:first-child, 
.case li:first-child, 
.no_charge li:first-child,
.with_charge li:first-child{
    font-weight: bold;
    margin:10px 0;
}
/*Review*/
#review{
    margin-top: 50px;
    display: flex;
    padding: 0 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#review h2{
    font-size:30px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
video{
    margin-top:30px;
}
/*form*/
#form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}
form{
    display: flex;
    flex-direction: column;
}
#form p{
    margin-bottom:20px;
}
input{
    margin-bottom: 20px;
    border-radius: 30px;
    height: 50px;
    padding:0 30px;
}
label{
    margin-left: 10px;
    margin-bottom:5px;
    font-weight:700;
}
#input-color{
    font-weight: 700;
    padding-left:10px;
    margin-bottom: 10px;
}
.input-radio{
    height: auto;
    margin-right:12px;
}
#input-color p{
    margin-bottom:10px;
}
#input-color label{
    margin: 0 10px;
    font-weight: 400;
}
textarea{
    border-radius: 15px;
    padding: 20px 30px;
    margin: 0 10px;
}
#submit{
    background-color:#2ecc71;
    width: 350px;
    padding: 0 30px;
    height: 80px;
    color: #fff;
    border-radius: 40px;
    font-weight: 700;
    font-size: 20px;
    border:none;
    margin: 30px auto;
    box-shadow: 0 0 0 10px rgba(46, 204, 113, .3);
    transition: box-shadow 1s;
}
#submit:hover{
    box-shadow: 0 0 10px 20px rgba(46, 204, 113, .3); 
    transition: box-shadow 1s;
}

/*button arrow to up*/
#button-up {
    display: inline-block;
    background-color: #333;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:#fff;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button-up:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button-up:active {
    background-color: #555;
  }
  #button-up.show {
    opacity: 1;
    visibility: visible;
  }


/*MEDIA REQUIRES*/
@media (max-width:600px){
#button-up{
    right: 10px;
}
}
@media (max-width:425px){
.old, .new{ 
    transform: skewX(0deg);
    }
.set_title, .description_title{
    font-size:26px;
}

}